<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shell Script Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>

<body class="d-flex align-items-center justify-content-center vh-100">
    <div class="container">
        <header class="bg-dark text-white text-center py-4">
            <div class="container">
                <h1 class="display-4">Shell Script Analyzer</h1>
                <p class="lead">Upload a Shell Script File or Folder for Analysis</p>
            </div>
        </header>

        <div class="container mt-4">
            <form method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="actionSelect" class="form-label">Select an action</label>
                    <select class="form-select" id="actionSelect" name="selectedAction" required>
                        <option value="folder">Choose a folder</option>
                        <option value="files">Choose files</option>
                    </select>
                </div>

                <div id="folderOption" class="mb-3">
                    <label for="folderInput" class="form-label">Choose a folder</label>
                    <input type="file" name="file_or_folder" class="form-control" id="folderInput" webkitdirectory directory>
                </div>

                <div id="filesOption" class="mb-3" style="display: none;">
                    <label for="fileInput" class="form-label">Choose files</label>
                    <input type="file" name="files[]" class="form-control" id="fileInput" multiple>
                </div>

                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>

        <footer class="bg-light text-center py-3">
            <div class="container">
                <p class="mb-0 text-muted">&copy; 2023 Shell Script Analyzer</p>
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script>
        document.getElementById('actionSelect').addEventListener('change', function () {
            var folderOption = document.getElementById('folderOption');
            var filesOption = document.getElementById('filesOption');

            if (this.value === 'folder') {
                folderOption.style.display = 'block';
                filesOption.style.display = 'none';
            } else {
                folderOption.style.display = 'none';
                filesOption.style.display = 'block';
            }
        });
    </script>
</body>

</html>
