<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shell Script Analysis</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header class="header">
        <h1>Shell Script Analyzer</h1>
    </header>
    <div class="container">
        <h2 class="subheader">Upload a Shell Script File</h2>
        <form method="POST" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="file" class="file-input">
            <button type="submit" class="submit-button">Upload</button>
        </form>
    </div>
</body>
</html>
